<app-menu></app-menu>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-6 mb-3">
      <label for="">Foto de perfil</label>
      <br>
        <input type="file" (change)="onFileSelected($event)" accept="image/*">
        
    </div>
   
</div>
  <form [formGroup]="userAccountForm" (ngSubmit)="CompleteRegisterUser()" enctype="multipart/form-data">
    <div class="row justify-content-center">
      <div class="col-sm-6">

        <label for="">Cedula</label>
        <input class="form-control w-25" type="number" required formControlName="InputId" />

        <label for="">Nombre</label>
        <input class="form-control" type="text" required formControlName="InputName" />
        <label for="">Apellidos</label>
        <input class="form-control" type="text" required formControlName="InputLastName" />
        <label for="">Telefono</label>
        <input class="form-control" type="tel" required formControlName="InputPhone" />
        <label for="">Correo Electronico</label>
        <input class="form-control" type="email" required formControlName="InputEmail" />
        <label for="">Direccion Fisica</label>
        <textarea rows="2" class="form-control" type="text" required formControlName="InputDirection"></textarea>
        <label for="">Cuenta de Usuario</label>
        <input class="form-control" type="text" required placeholder="Puede ser el correo o un usuario custom"
          formControlName="InputUserAccount" />

        <br />
        <label for="">Contraaseña</label>
        <input class="form-control" type="password" required formControlName="InputPassword" />
        <label for="">Rol</label>
        <select class="form-control" name="" id="" title="Rol Actual" required formControlName="InputRolType">
          <option value="">--SELECT--</option>
          <option value="Administrator">Administrator</option>
          <option value="Client">Client</option>
        </select>
        <hr />
        <button class="btn btn-success" type="submit" [disabled]="userAccountForm.invalid">
          Agregar Nuevo Usuario
        </button>
      </div>
    </div>
  </form>
</div>