<app-menu></app-menu>

<div class="card border-primary m-3">
  <div class="card-body">
    <div class="container-fluid rounded mb-5 mx-auto d-flex">
      <div class="row">
        <div class="col-md-6 mx-auto border-right">
          <div class="p-3 py-5">
            <div class="d-flex mb-3">
              <h4 class="text-right">Profile</h4>
            </div>
            <div class="row mt-2">
              <div class="col-md-6">
                <label class="labels">Nombre</label
                ><input
                  type="text"
                  class="form-control"
                  readonly
                  value="{{ payloadFromLogin[0]?.clientName }}"
                />
              </div>
              <div class="col-md-6">
                <label class="labels">Apellidos</label
                ><input
                  type="text"
                  class="form-control"
                  value=""
                  readonly
                  value="{{ payloadFromLogin[0]?.clientLastName }}"
                />
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-12">
                <label class="labels">Telefono</label
                ><input
                  type="text"
                  class="form-control"
                  readonly
                  value="{{ payloadFromLogin[0]?.clientPhone }}"
                />
              </div>
              <div class="col-md-12">
                <label class="labels">Correo Electronico</label
                ><input
                  type="text"
                  class="form-control"
                  readonly
                  value="{{ payloadFromLogin[0]?.clientEmail }}"
                />
              </div>
              <div class="col-md-12">
                <label class="labels">Direccion Fisica</label
                ><input
                  type="text"
                  class="form-control"
                  readonly
                  value="{{ payloadFromLogin[0]?.clientDirection }}"
                />
              </div>
              <div class="col-md-12">
                <label class="labels">Nombre de Usuario</label
                ><input
                  type="text"
                  class="form-control"
                  readonly
                  value="{{ payloadFromLogin[0]?.clientUsername }}"
                />
              </div>
              <div class="col-md-12">
                <label class="labels">Rol Actual</label
                ><input
                  type="text"
                  class="form-control"
                  readonly
                  value="{{ payloadFromLogin[0]?.clientRoleType }}"
                />
              </div>
              <div class="col-md-12">
                <label class="labels">Estado de la Cuenta</label
                ><input
                  type="text"
                  class="form-control"
                  readonly
                  value="{{ stateActiveAccount }}"
                />
              </div>
            </div>

            <div class="mt-5 text-center">
              <button
                class="btn btn-primary profile-button"
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#modalId"
              >
                Editar Informacion
              </button>

              <!-- Modal -->
              <div
                class="modal fade"
                id="modalId"
                tabindex="-1"
                role="dialog"
                aria-labelledby="modalTitleId"
                aria-hidden="true"
              >
                <div class="modal-dialog modal-lg" role="document">
                  <form [formGroup]="formUpdateProfile" (ngSubmit)="updateProfile()">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="modalTitleId">
                          Editar Cuenta:
                        </h5>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">
                        <div class="col-md-8 mx-auto">
                          <label for="">ID</label>
                          <input
                            class="form-control"
                            type="tel"
                            readonly
                            value="{{ payloadFromLogin[0]?._id }}"
                           
                          />
                          <label for="">Nombre</label>
                          <input
                            class="form-control"
                            type="text"
                            value="{{ payloadFromLogin[0]?.clientName }}"
                            formControlName="InputName"
                          />
                          <label for="">Apellidos</label>
                          <input
                            class="form-control"
                            type="text"
                            value="{{ payloadFromLogin[0]?.clientLastName }}"
                            formControlName="InputLastName"
                          />
                          <label for="">Telefono</label>
                          <input
                            class="form-control"
                            type="tel"
                            value="{{ payloadFromLogin[0]?.clientPhone }}"
                            formControlName="InputPhone"
                          />
                          <label for="">Correo Electronico</label>
                          <input
                            class="form-control"
                            type="email"
                            value="{{ payloadFromLogin[0]?.clientEmail }}"
                            formControlName="InputEmail"
                          />
                          <label for="">Direccion Fisica</label>
                          <input
                            class="form-control"
                            type="text"
                            value="{{ payloadFromLogin[0]?.clientDirection }}"
                            formControlName="InputDirection"
                          />
                          <label for="">Nombre de Usuario</label>
                          <input
                            class="form-control"
                            type="text"
                            value="{{ payloadFromLogin[0]?.clientUsername }}"
                            formControlName="InputUserAccount"
                          />
                          <label for="">Contraseña</label>
                          <input
                            class="form-control"
                            type="password"
                            value="{{ payloadFromLogin[0]?.clientPassword }}"
                            formControlName="InputPassword"
                          />
                          <label for="">Repite la contraseña</label>
                          <input
                            class="form-control"
                            type="password"
                           
                            formControlName="InputPasswordConfirm"
                          />
                          <div class="alert alert-danger" role="alert" *ngIf="stateActiveAlertPassword">
                            <strong>LAS CONTRASEÑAS NO COINCIDEN</strong> 
                          </div>
                          
                          <hr />
                          <span>Rol Actual</span>
                          <input
                            class="form-control"
                            type="text"
                            readonly
                            value="{{ payloadFromLogin[0]?.clientRoleType }}"
                          />
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-secondary"
                          data-bs-dismiss="modal"
                        >
                          Cancelar
                        </button>
                        <button type="submit" class="btn btn-primary" [disabled]="formUpdateProfile.invalid">
                          Guardar Informacion
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
