<app-menu></app-menu>
<!-- Button trigger modal -->

<!-- Modal -->
<div
  class="modal fade"
  id="userModal"
  tabindex="-1"
  aria-labelledby="userModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="userModalLabel">
          INFORMACION DE MI PERFIL
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <hr />
        <div class="row">
          <div class="col-sm-5">
            <p><strong>Name:</strong> {{payloadFromLogin}}</p>
            <p><strong>Email:</strong> john.doe@example.com</p>
          </div>
          <div class="col-sm-5">
            <p><strong>Phone:</strong> (555) 555-5555</p>
            <p><strong>Address:</strong> 123 Main St, Anytown USA</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
