<app-menu></app-menu>
<div class="container">
    <h1 class="mt-5">User Accounts Manager</h1>
    <div class="row mt-4">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Users</h5>
            <p class="card-text">Manage user accounts</p>
            <a href="#" class="btn btn-primary">Go to Users</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Roles</h5>
            <p class="card-text">Manage user roles</p>
            <a href="#" class="btn btn-primary">Go to Roles</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Permissions</h5>
            <p class="card-text">Manage user permissions</p>
            <a href="#" class="btn btn-primary">Go to Permissions</a>
          </div>
        </div>
      </div>
    </div>
  </div>