<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">MI TIENDA ADMIN</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/Profile">Mi Perfil</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Productos
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/Add-New-Product">Agregar Nuevo Producto</a></li>
              <li><a class="dropdown-item" routerLink="/View-Products">Ver Productos Actuales</a></li>
              
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Clients-Orders">Ordenes Del Sistema</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Cuentas de Usuarios
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/Add-New-User">Agregar Nuevo Usuario</a></li>
              <li><a class="dropdown-item" routerLink="/UserAccountsDB">Ver Usuarios Actuales</a></li>
              
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/AppLogs">Logs Del Sistema</a>

          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-success" routerLink="#">Log Out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  